<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="PHP cURL Test Suite">
            <directory preffix=".php">./GeorgesWebsite/INC</directory>
            <file>./GeorgesWebsite/INC/test.php</file>
            <file>./GeorgesWebsite/INC/main.inc.php</file>
        </testsuite>
    </testsuites>
</phpunit>
