<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="PHP cURL Test Suite">
            <directory name="test.php">./GeorgesWebsite/INC</directory>
            <file>./GeorgesWebsite/INC/test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
