.jumbotron{
    margin-top: 50px;
}

#jumbotron{
    margin-top: 100px;
}
label{
    color: #404040;
    font-weight: normal;
}
#lechat{
    background-color: #fff;
    border-style: solid;
    border-color: darkred;
    border-width: 1px;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 20px;
    overflow: scroll;
    height: 360px;
    padding-left: 20px;
}
#leNom{
    font-weight: bold;
}
#message{
    margin-left: 15px;
    width: 50%;
    margin-left: 25%;
    color: black;
}

#buttonMessage{
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#login{
    margin-left: 55px;
}
.smiley{
    height: 20px;
    width: 20px;
}
.botop{
    background-color: white;
    border-style: solid;
    border-color: darkred;
    border-width: 1px;
    border-radius: 6px;
    text-align: center;
    font-size: 21px;
    color: #8C8C8C;
}
#bottom{
    height: 120px;
}
#top{
    margin-top: 50px;
    margin-bottom: 20px;
}
.valider{
    color:black;
}
.idCo{
    color: black;
}
.error{
  display: none;
    color:red;
}
.class1:hover{
    background-color: indianred;
}