/*By Adrien Culem*/
body {
    color: #F0E39E;
    background: #DCDCDC;
    font-family: Calibri;
}

#contenu {
    color: #363B29;
    margin-top: 50px;
}

.signLogP{
    text-align: center;
}

@media screen and (max-width: 415px){
    .contactDiv{
        width: 88%;
    }

}

@media screen and (min-width: 416px){
    .logSign
		{}

    #submitChat{
        margin-left: 47%;
    }
}

@media screen and (min-width: 680px){
    .contactDiv{
        width: 250px;
    }
}

body {
    min-width: 280px;
}

#global{
    padding: 2% 4%;
}

#contenu p, #contenu li {
    line-height: 1.5;
}

input[type=submit] {
    width : 150px;
    text-align : center;
}

.contactDiv{
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: #4c4c4c;
    color: white;
    height: 115px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.contactDiv2{
    margin: 10px 10px 10px 10px;
    float: left;
}

#contenu {
    margin-bottom: 2%;
    padding: 1% 2%;
    overflow: auto;
}

.contactDiv a{
    color: white;
}
.contactDiv a:hover{
    color: lightgoldenrodyellow;
}

#connectionFailed{
    display:none;
    color: red;
    font-weight: bold;
    text-align: center;
}

#texteAccueil{
    text-align: center;
}

.verif{
    padding-left: 1%;
    color: red;
    font-weight: bold;
}

#pseudo, #verifMdp{
    margin-bottom: 1%;
}

.formField{
    border-radius: 5px;
    padding: 8px;
    margin: 3px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.formField:focus{
    background-color: lightblue;
}

.submitButton{
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.submitButton:hover{
    background: #8b8b8b;
}

.contactP{
    font-weight: bold;
}

.a_goToPortal{
    font-style: normal;
    text-decoration: none;
}

.soumission {
    text-align: center;
}

fieldset {
    border: 0;
}

.formTitle{
    font-weight: bold;
}

#divUpArrow, #divDownArrow{
    width: 100%;
    text-align: center;
}

.crossButtons{
    height: 50px;
    width: 50px;
}

.spanArrow{
    font-size: 35px;
}

#videoDiv{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#divLeftArrow, #divRightArrow{
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#divLeftArrow{
    float: left;
}

#divRightArrow{
    float: right;
}

#buttonLeftArrow{
    float:right;
    margin-right: 40px;
}

#buttonRightArrow{
    float:left;
    margin-left: 40px;
}

#chatLink{
    text-decoration: none;
    color: black;
}
.ui-dialog .ui-dialog-content{
    overflow: hidden;
    text-align: center;
}
.deletingDialog .ui-dialog-content{
    background:rgba(255, 0, 35, 0.43);
    border: 1px solid #cf0013;
    color: #fff;
}
.deletingDialog .ui-widget-content{
    background:rgba(255, 0, 35, 0.43);
    border: 1px solid #cf0013;
    color: #fff;
}
.deletingDialog .ui-dialog-titlebar{
    background: #cf0013;
    border : 0;
    color : #fff;
}

.deletingDialog #popUpDialog{
    background: rgba(255, 0, 35, 0.43);
    border: 1px solid #cf0013;
    color: #fff;
}

.nav-icon {
    margin-right: 10px;
    width: 40px;
    transform: scale(0.5, 0.5);
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: #fff;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.homeMessage{
    font-size: 1.2em;
}

.ui-widget-content{
    border:none;
}

#divContainer{
    text-align:center;
}
